@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding:0;
    margin: 0;
}
body{
    font-family: "Montserrat", sans-serif;
}

.logo{ 
    font-family: "Playfair Display";
    font-size: 100px;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #434B6E;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
a{
    color:#CDDDFF;
    text-decoration: none;

}
.about{
     display: flex;
     justify-content: center;
     gap: 10%;
    align-items: center;
}
.about__image{
    width:40%;
}
.about__image img{
    width: 450px;
    height: auto;
}
.about__text{
    width: 40%;
    display: flex;
    gap: 30px;
     justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.price{
    display: flex;
     justify-content:space-around;
     gap: 5%;
    flex-direction: row-reverse;
}
.price__image img{
    width: 350px;
    height: auto;
}
.price__text{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: flex-start;
}
.botton{
    background-color: #434B6E;
    padding: 16px 32px;
    border-radius: 25px;
}
footer{
    background-color: #434B6E;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
}
footer>div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}
.social__item{
    height: 32px;

}
.social__list{
    display: flex;
    gap: 5px
}
.footer__logo{ 
    font-family: "Playfair Display";
    font-size: 50px;
}